@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: antiquewhite;
}

.test-box {
  background-color: white;
  width: 150px;
  height: 200px;
  border-radius: 5px;
  border: solid black 1px;
}

.testContainer {
  display: flex;
  width: 100%;
}
